<p-card header="Configuraciones">
  <form [formGroup]="FormSettings">
    <div class="formgrid grid">
      <div class="field col-12 md:col-3">
        <label for="basePrice">Precio base</label>
        <p-inputNumber
          id="basePrice"
          styleClass="w-full"
          class="w-full"
          mode="currency"
          currency="BOB"
          locale="es-BO"
          formControlName="basePrice"
        />
      </div>
      <div class="field col-12 md:col-3">
        <label for="basePrice">Maximo de unidades</label>
        <p-inputNumber
          id="basePrice"
          styleClass="w-full"
          class="w-full"
          formControlName="maxUnits"
        />
      </div>
      <div class="field col-12 md:col-3">
        <label for="basePrice">Precio exceso / unidad</label>
        <p-inputNumber
          id="basePrice"
          styleClass="w-full"
          class="w-full"
          mode="currency"
          currency="BOB"
          locale="es-BO"
          formControlName="pricePerExcessUnit"
        />
      </div>
      <div class="field col-12 md:col-3">
        <label for="basePrice">Meses permitidos</label>
        <p-inputNumber
          id="basePrice"
          styleClass="w-full"
          class="w-full"
          formControlName="maxDelayMonths"
        />
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="flex gap-3 mt-1">
      <p-button
        label="Guardar"
        (onClick)="save()"
        [disabled]="FormSettings.invalid"
      />
    </div>
  </ng-template>
</p-card>
<p-toast />
