<div class="p-dialog-content">
  <p-accordion [multiple]="true">
    <p-accordionTab header="Registro Anterior" [selected]="true">
      <div class="px-3">
        @if(isLoading()){
        <p-progressBar mode="indeterminate" [style]="{ height: '6px' }" />
        } @else { @if(lastReading()){
        <div class="formgrid grid">
          <div class="field col-12 sm:col-6">
            <label for="last-date">Fecha</label>
            <input
              id="last-date"
              type="text"
              pInputText
              [disabled]="true"
              class="w-full"
              [value]="lastReading()?.datetimeLabel"
            />
          </div>
          <div class="field col-12 sm:col-6">
            <label for="last-reading">Lectura</label>
            <input
              id="last-reading"
              type="text"
              pInputText
              [disabled]="true"
              class="w-full"
              [value]="lastReading()?.reading"
            />
          </div>
        </div>
        } @else{
        <p class="text-center">SIN REGISTROS</p>
        } }
      </div>
    </p-accordionTab>
    <p-accordionTab header="Registro Actual" [selected]="true">
      <form [formGroup]="FormReading">
        <div class="formgrid grid p-3">
          <div class="field col-12 sm:col-6">
            <label for="current-date">Fecha</label>
            <input
              id="current-date"
              type="text"
              pInputText
              [disabled]="true"
              class="w-full"
              [value]="dateReadingLabel | date : 'MMMM y'"
            />
          </div>
          <div class="field col-12 sm:col-6">
            <label for="current-reading">Lectura</label>
            <p-inputNumber
              inputId="integeronly"
              formControlName="reading"
              styleClass="w-full"
              class="w-full"
            />
          </div>
        </div>
      </form>
    </p-accordionTab>
    <p-accordionTab header="Detalles Factura" [selected]="true">
      <ul class="list-none p-0 m-0">
        <li class="flex align-items-center surface-border flex-wrap">
          <div class="text-500 col-12 sm:w-4 font-medium">Accionista:</div>
          <div class="text-900 col-12 sm:w-8">
            {{ customer.fullname | titlecase }}
          </div>
        </li>
        <li class="flex align-items-center surface-border flex-wrap">
          <div class="text-500 col-6 sm:w-4 font-medium">Tipo:</div>
          <div class="text-900 col-6 sm:w-8">
            {{ customer.type.name }}
          </div>
        </li>
        <li class="flex align-items-center surface-border flex-wrap">
          <div class="text-500 col-6 sm:w-4 font-medium">Nro. Medidor:</div>
          <div class="text-900 col-6 sm:w-4">{{ customer.meterNumber }}</div>
        </li>
      </ul>
    </p-accordionTab>
  </p-accordion>
</div>
