<div class="p-dialog-content">
  <p-pickList
    [source]="debts()"
    [target]="paymentDebts()"
    sourceHeader="Pendientes"
    targetHeader="A pagar"
    [dragdrop]="true"
    [responsive]="true"
    [sourceStyle]="{ height: '20rem' }"
    [targetStyle]="{ height: '20rem' }"
    breakpoint="1400px"
  >
    <ng-template let-reading pTemplate="item">
      <div class="flex flex-wrap p-2 align-items-center gap-3">
        <div class="flex-1 flex flex-column gap-2">
          <span class="font-bold">Consumo: {{ reading.consume }}</span>
          <div class="flex align-items-center gap-2">
            <span>
              {{ reading.consumptionDate | date : "short" }}
            </span>
          </div>
        </div>
        <span class="font-bold text-900"> {{ reading.amountToPay }} Bs. </span>
      </div>
    </ng-template>
  </p-pickList>
</div>
<div class="p-dialog-footer">
  <p-button label="Guardar" (onClick)="save()" />
</div>
