<p-stepper [linear]="true">
  <p-stepperPanel header="Servicios">
    <ng-template
      pTemplate="content"
      let-nextCallback="nextCallback"
      let-index="index"
    >
      <div class="flex flex-column md:flex-row column-gap-2 h-20rem">
        <div class="flex-1 border-1 p-2 overflow-y-scroll">
          @for (invoice of invoices(); track $index) {
            <div class="surface-card shadow-2 p-3 border-round">
              <div class="flex justify-content-between mb-2">
                  <div>
                    <span class="block font-bold mb-3">Servicio de Agua</span>
                    <div class="text-sm">CONSUMO: {{invoice.service.consumption}} en Fecha: {{invoice.service.createdAt|date}}</div>
                  </div>
                  <div class="flex align-items-center justify-content-center">
                    <p-button icon="pi pi-plus" severity="secondary" (onClick)="addInvoice(invoice)"/>
                  </div>
              </div>
              <span class="text-sm">TOTAL: </span>
              <span class="text-green-500 text-sm">{{invoice.amount}} Bs.</span>
          </div>
          }
        </div>
        <div class="flex-1 border-1 p-2 overflow-y-scroll">
          @for (invoice of selectedInvoices(); track $index) {
            <div class="surface-card shadow-2 p-3 border-round">
              <div class="flex justify-content-between mb-2">
                  <div>
                    <span class="block font-bold mb-3">Servicio de Agua</span>
                    <div class="text-sm">CONSUMO: {{invoice.service.consumption}} en Fecha: {{invoice.createdAt|date}}</div>
                  </div>
                  <div class="flex align-items-center justify-content-center">
                    <p-button icon="pi pi-trash" severity="secondary" (onClick)="removeInvoice(invoice)"/>
                  </div>
              </div>
              <span class="text-sm">TOTAL: </span>
              <span class="text-green-500 text-sm">{{invoice.amount}} Bs.</span>
          </div>
          }
        </div>
      </div>
      <div class="flex pt-4 justify-content-end">
        <p-button
          label="Siguiente"
          icon="pi pi-arrow-right"
          [text]="true"
          iconPos="right"
          (onClick)="nextCallback.emit()"
        />
      </div>
    </ng-template>
  </p-stepperPanel>
  <p-stepperPanel header="Confirmacion">
    <ng-template
      pTemplate="content"
      let-prevCallback="prevCallback"
      let-nextCallback="nextCallback"
      let-index="index"
    >
      <div class="px-0 md:px-4">
        <p class="block text-2xl">Detalles pago</p>
        <div class="block flex flex-column md:flex-row mb-2">
          <div class="flex-grow-1 flex font-bold">AFILIADO:</div>
          <div class="flex-none flex align-items-center">
            {{ client.fullname | titlecase }}
          </div>
        </div>
        <div class="block flex flex-column md:flex-row mb-2">
          <div class="flex-grow-1 flex font-bold">TOTAL:</div>
          <div class="flex-none flex align-items-center text-green-400">
            {{ amountToPay() | currency : "Bs. " }}
          </div>
        </div>
      </div>
      <div class="flex pt-4 justify-content-between">
        <p-button
          label="Atras"
          icon="pi pi-arrow-left"
          [text]="true"
          (onClick)="prevCallback.emit()"
        />
        <p-button
          label="Guardar"
          (onClick)="save()"
          [disabled]="!isValidForm"
        />
      </div>
    </ng-template>
  </p-stepperPanel>
</p-stepper>
