<p-stepper [linear]="true">
  <p-stepperPanel header="Servicios">
    <ng-template
      pTemplate="content"
      let-nextCallback="nextCallback"
      let-index="index"
    >
      <div class="flex flex-column md:flex-row column-gap-2 h-20rem">
        <div class="flex-1 border-1">
          @for (invoice of invoices(); track $index) {
            <div class="surface-card p-4 shadow-2 border-round">
              <div class="text-md font-medium text-900 mb-3">Consumo de Agua</div>
              <div class="font-medium text-500 mb-3">s.</div>
          </div>
          }
        </div>
        <div class="flex-1 border-1"></div>
      </div>
      <div class="flex pt-4 justify-content-end">
        <p-button
          label="Siguiente"
          icon="pi pi-arrow-right"
          [text]="true"
          iconPos="right"
          (onClick)="nextCallback.emit()"
        />
      </div>
    </ng-template>
  </p-stepperPanel>
  <p-stepperPanel header="Confirmacion">
    <ng-template
      pTemplate="content"
      let-prevCallback="prevCallback"
      let-nextCallback="nextCallback"
      let-index="index"
    >
      <div class="px-0 md:px-4">
        <p class="block text-2xl">Detalles pago</p>
        <div class="block flex flex-column md:flex-row mb-2">
          <div class="flex-grow-1 flex font-bold">AFILIADO:</div>
          <div class="flex-none flex align-items-center">
            {{ client.fullname | titlecase }}
          </div>
        </div>
        <div class="block flex flex-column md:flex-row mb-2">
          <div class="flex-grow-1 flex font-bold">TOTAL:</div>
          <div class="flex-none flex align-items-center text-green-400">
            {{ amountToPay() | currency : "Bs. " }}
          </div>
        </div>
      </div>
      <div class="flex pt-4 justify-content-between">
        <p-button
          label="Atras"
          icon="pi pi-arrow-left"
          [text]="true"
          (onClick)="prevCallback.emit()"
        />
        <p-button
          label="Guardar"
          (onClick)="save()"
          [disabled]="!isValidForm"
        />
      </div>
    </ng-template>
  </p-stepperPanel>
</p-stepper>
