<div class="card">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <button
        pButton
        icon="pi pi-plus"
        class="mr-2"
        (click)="create()"
      ></button>
    </div>
    <div class="p-toolbar-group-center">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText placeholder="Buscar" />
      </span>
    </div>
  </p-toolbar>
</div>
<div class="card">
  <p-table
    [value]="clients()"
    responsiveLayout="stack"
    [breakpoint]="'960px'"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre completo</th>
        <th>Dni</th>
        <th>Telefono</th>
        <th>Direccion</th>
        <th>Estado</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client>
      <tr>
        <td>{{ client.fullname | titlecase }}</td>
        <td>{{ client.dni }}</td>
        <td>{{ client.phone }}</td>
        <td>{{ client.address }}</td>
        <td>
          <p-tag
            [severity]="client.statusLabel().severity"
            [value]="client.statusLabel().text"
          />
        </td>
        <td>
          <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
            (onClick)="update(client)"
          />
          <p-button
            icon="pi pi-align-left"
            [rounded]="true"
            [text]="true"
            (onClick)="addReading(client)"
          />
          <p-button
            icon="pi pi-money-bill"
            [rounded]="true"
            [text]="true"
            (onClick)="payment(client)"
          />
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">Sin resultados</td>
      </tr>
    </ng-template>
  </p-table>
  <paginator [(limit)]="limit" [(index)]="index" [length]="length()" />
</div>
