<div class="card">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <button pButton icon="pi pi-plus" class="mr-2" (click)="add()"></button>
    </div>
    <div class="p-toolbar-group-center">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText placeholder="Buscar" />
      </span>
    </div>
  </p-toolbar>
</div>
<div class="card">
  <p-table
    [value]="clients()"
    responsiveLayout="stack"
    [breakpoint]="'960px'"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Afiliado</th>
        <th>Dni</th>
        <th>Telefono</th>
        <th>Acciones</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client>
      <tr>
        <td>{{ client.fullname() }}</td>
        <td>{{ client.dni }}</td>
        <td>{{ client.phone }}</td>
        <td>{{ client.actions.length }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            (click)="edit(client)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
