<div class="p-dialog-content">
  <form [formGroup]="FormClient">
    <div class="formgrid grid row-gap-3">
      <div class="field col-12 md:col-4">
        <p-floatLabel>
          <input
            class="w-full"
            id="name"
            type="text"
            pInputText
            formControlName="firstname"
          />
          <label for="name">Nombre</label>
        </p-floatLabel>
      </div>
      <div class="field col-12 md:col-4">
        <p-floatLabel>
          <input
            class="w-full"
            id="middlename"
            type="text"
            pInputText
            formControlName="middlename"
          />
          <label for="middlename">Apellido Paterno</label>
        </p-floatLabel>
      </div>
      <div class="field col-12 md:col-4">
        <p-floatLabel>
          <input
            class="w-full"
            id="lastname"
            type="text"
            pInputText
            formControlName="lastname"
          />
          <label for="lastname">Apellido Materno</label>
        </p-floatLabel>
      </div>
      <div class="field col-12 md:col-4">
        <p-floatLabel>
          <input
            class="w-full"
            id="dni"
            type="text"
            pInputText
            formControlName="dni"
          />
          <label for="dni">C.I.</label>
        </p-floatLabel>
      </div>
      <div class="field col-12 md:col-4">
        <p-floatLabel>
          <input
            class="w-full"
            id="phone"
            type="text"
            pInputText
            formControlName="phone"
          />
          <label for="phone">Telefono</label>
        </p-floatLabel>
      </div>
      <div class="field col-12 md:col-4">
        <p-floatLabel>
          <input
            class="w-full"
            id="phone"
            type="text"
            pInputText
            formControlName="meterNumber"
          />
          <label for="meterNumber">Nro. Medidor</label>
        </p-floatLabel>
      </div>
      <div class="field col-12 md:col-4">
        <p-dropdown
          class="w-full"
          styleClass="w-full"
          [options]="customerTypes()"
          optionLabel="name"
          [filter]="true"
          appendTo="body"
          optionValue="id"
          emptyFilterMessage="Sin resultados"
          formControlName="type"
          placeholder="Seleccione un tipo"
        />
      </div>
      <div class="field col-12 md:col-8">
        <p-dropdown
          class="w-full"
          styleClass="w-full"
          [options]="discounts()"
          optionLabel="name"
          [filter]="true"
          appendTo="body"
          optionValue="id"
          emptyFilterMessage="Sin resultados"
          formControlName="discountId"
          placeholder="Tipo de descuento"
        />
      </div>
    </div>
  </form>
</div>
<div class="p-dialog-footer">
  <p-button
    label="Guardar"
    [disabled]="FormClient.invalid"
    (onClick)="save()"
  />
</div>
