<div class="p-dialog-content">
  <form [formGroup]="FormClient">
    <div class="formgrid grid">
      <div class="field col-12 md:col-4">
        <label for="firstname">Nombre</label>
        <input
          id="firstname"
          type="text"
          class="w-full"
          pInputText
          formControlName="firstname"
        />
      </div>
      <div class="field col-12 md:col-4">
        <label for="middlename">Paterno</label>
        <input
          id="middlename"
          type="text"
          pInputText
          class="w-full"
          formControlName="middlename"
        />
      </div>
      <div class="field col-12 md:col-4">
        <label for="lastname">Materno</label>
        <input
          type="text"
          pInputText
          id="lastname"
          class="w-full"
          formControlName="lastname"
        />
      </div>
      <div class="field col-12 md:col-4">
        <label for="dni">Nro. Carnet</label>
        <input
          type="text"
          pInputText
          class="w-full"
          id="dni"
          formControlName="dni"
        />
      </div>
      <div class="field col-12 md:col-4">
        <label for="phone">Telefono</label>
        <input
          type="text"
          pInputText
          class="w-full"
          id="phone"
          formControlName="phone"
        />
      </div>
      <div class="field col-12 md:col-4">
        <label for="address">Direccion</label>
        <input
          type="text"
          pInputText
          class="w-full"
          id="address"
          formControlName="address"
        />
      </div>
      <div class="field col-12 md:col-4">
        <label for="address">Nro. Medidor</label>
        <input
          type="text"
          pInputText
          class="w-full"
          id="address"
          formControlName="meterNumber"
        />
      </div>
    </div>
  </form>
</div>
<div class="p-dialog-footer">
  <p-button
    label="Guardar"
    [disabled]="FormClient.invalid"
    (onClick)="save()"
  />
</div>
