<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button icon="pi pi-plus" class="mr-2" (onClick)="create()" />
  </div>
</p-toolbar>

<p-table [value]="datasource()" styleClass="p-datatable-sm text-sm">
  <ng-template pTemplate="header">
    <tr>
      <th>Nombre</th>
      <th>Porcentaje</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-config>
    <tr>
      <td>{{ config.name }}</td>
      <td>{{ config.percentage }} %</td>
      <td>
        <p-button
          icon="pi pi-pencil"
          [rounded]="true"
          [text]="true"
          (onClick)="update(config)"
        />
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="3">Sin registros</td>
    </tr>
  </ng-template>
</p-table>
