<p-table
  [scrollable]="true"
  scrollHeight="400px"
  [value]="readings()"
  class="w-full"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Fecha</th>
      <th>Lectura</th>
      <th>Consumo</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-reading>
    <tr>
      <td>{{ reading.createdAt | date : "d/M/Y" }}</td>
      <td>{{ reading.reading }}</td>
      <td>{{ reading.consumption }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="3">Sin lecturas</td>
    </tr>
  </ng-template>
</p-table>
<paginator
  [first]="offset()"
  [rows]="limit()"
  [length]="datasize()"
  (onPageChange)="onPageChange($event)"
/>
