<p-table
  [scrollable]="true"
  scrollHeight="400px"
  [value]="readings()"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Fecha</th>
      <th>Lectura anterior</th>
      <th>Lectura actual</th>
      <th>Consumo</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.reading_date | date : "d/M/Y" }}</td>
      <td>{{ product.previous_reading }}</td>
      <td>{{ product.current_reading }}</td>
      <td>{{ product.consumption }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4">Sin lecturas</td>
    </tr>
  </ng-template>
</p-table>
<paginator
  [first]="offset()"
  [rows]="limit()"
  [length]="datasize()"
  (onPageChange)="onPageChange($event)"
/>
