/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body {
  margin: 0px;
}
.p-dialog-content {
  margin-bottom: 5px;
}
.p-dialog-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}
.p-toolbar {
  padding: 4px;
  margin-bottom: 6px;
}
