<div class="card">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <button pButton icon="pi pi-plus" class="mr-2" (click)="add()"></button>
    </div>
    <div class="p-toolbar-group-center">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText placeholder="Buscar" />
      </span>
    </div>
  </p-toolbar>
</div>
<div class="card">
  <p-table
    [value]="clients()"
    responsiveLayout="stack"
    [breakpoint]="'960px'"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Afiliado</th>
        <th>Dni</th>
        <th>Telefono</th>
        <th>Acciones</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client>
      <tr>
        <td>{{ client.fullname() }}</td>
        <td>{{ client.dni }}</td>
        <td>{{ client.phone }}</td>
        <td>{{ client.actions.length }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            (click)="edit(client)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [visible]="visible()"
  [style]="{ width: '800px' }"
  [modal]="true"
  [closable]="false"
  header="Afiliado"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <form [formGroup]="FormClient">
      <div class="formgrid grid">
        <div class="field col-12 md:col-4">
          <label for="name">Nombre</label>
          <input
            type="text"
            pInputText
            id="name"
            formControlName="firstname"
            required
          />
        </div>
        <div class="field col-12 md:col-4">
          <label for="middlename">Paterno</label>
          <input
            type="text"
            pInputText
            id="middlename"
            formControlName="middlename"
            required
          />
        </div>
        <div class="field col-12 md:col-4">
          <label for="lastname">Materno</label>
          <input
            type="text"
            pInputText
            id="lastname"
            formControlName="lastname"
          />
        </div>
        <div class="field col-12 md:col-4">
          <label for="dni"> Dni </label>
          <input pInputText id="dni" pKeyFilter="int" formControlName="dni" />
        </div>
        <div class="field col-12 md:col-4">
          <label for="phone"> Telefono </label>
          <input
            pInputText
            id="phone"
            pKeyFilter="int"
            formControlName="phone"
          />
        </div>
        <div class="card flex justify-content-center"></div>
      </div>
    </form>
    <p-autoComplete
      [(ngModel)]="selectedItem"
      [suggestions]="suggestions"
      (completeMethod)="searchAvailableActions($event.query)"
    ></p-autoComplete>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="sss"
      icon="pi pi-times"
      class="p-button-text"
      (click)="closeDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="ssss"
      icon="pi pi-check"
      class="p-button-text"
      (click)="save()"
    ></button>
  </ng-template>
</p-dialog>
