<div class="surface-section mb-3 px-3">
  <ul class="list-none p-0 m-0">
    <li
      class="flex align-items-center py-2 px-2 border-top-1 surface-border flex-wrap"
    >
      <div class="text-500 w-6 md:w-3 font-medium">Accionista</div>
      <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
        {{ client.fullname }}
      </div>
    </li>
    <li
      class="flex align-items-center py-2 px-2 border-top-1 surface-border flex-wrap"
    >
      <div class="text-500 w-6 md:w-3 font-medium">Medidor</div>
      <div class="text-900 w-full md:w-9 md:flex-order-0 flex-order-1">
        {{ client.meterNumber }}
      </div>
    </li>
  </ul>
</div>
<p-table
  [scrollable]="true"
  [value]="readings()"
  class="w-full"
  scrollHeight="20rem"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Fecha</th>
      <th>Lectura</th>
      <th>Consumo</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-reading>
    <tr>
      <td>{{ reading.datetimeLabel }}</td>
      <td>{{ reading.reading }}</td>
      <td>{{ reading.consumption }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="3">Sin lecturas</td>
    </tr>
  </ng-template>
</p-table>
<paginator
  [first]="offset()"
  [rows]="limit()"
  [length]="datasize()"
  (onPageChange)="onPageChange($event)"
/>
